*{
    margin: 0;
    padding: 0;
    Font-size:62.5%; /* 1em = 10px */
}


#user_nav{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
}


#user_nav ul{
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
}

#user_nav ul li{
    float: left;
    margin-left: 10%;
}
#user_nav a{
    font-size: large;
}
#user_nav #account a{
   text-decoration: none;
   color: white;
   font-size: x-large
}

#user_nav section{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    float: left;
    background-color: black;
    padding-right: 2%;
}

#user_nav section div{
    margin-left: 60px;
    margin-top: 8px;
    cursor: pointer;
}


#nav_bar{

    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
	z-index: 999;
	background-color: rgb(47, 47, 49);
    border: 1px #f2f3f2;
    border-style: solid none;
    flex-wrap: nowrap;
}


#main_nav{
    width: 100%;
    font-size: 50px;
    list-style: none;

}

    
#main_nav li{
    float: left;
    margin-left: 15%;
    margin-top: 2%;
    text-decoration: none;
}
#main_nav a{
    transition-duration: 0.4s;
    color: white;
    text-decoration:none;
    font-weight: 800;
}
#main_nav a:hover{
    color: black;
}


#logo{
    margin-left: 1%;
    width: 100px;
    height: 100px;
}



#login{
    margin-left: 10%;
    margin-top: 1%;
    margin-right: 1%;
    top: 45px;
    width: 90px;
    height: 70px;
    border-radius:30px;
    background-image: url(images/login.jpg);
    background-size: contain;
    cursor: pointer;
}

#footer_content{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(53, 49, 47);
    height: 200px;
    
}

#footer_nav{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 50%;
}

#footer_nav ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}



#footer_nav2{
    display: flex;
    width: 50%;
    justify-content: center;
    flex-wrap: nowrap;

}

#footer_nav ul{
    margin-left: 70px;
}

#footer_nav li{
    float: left;
    list-style: none;
    margin-left: 50px;
    margin-top: 60px;
}

#footer_nav2 li{
    float: left;
    list-style: none;
    margin-left: 50px;
    margin-top: 60px;
}

#footer_nav a{
    color:white;
    text-decoration:none;
    font-size: 20px;
}

#footer_nav2 a{
    color:white;
    text-decoration:none;
    font-size: 20px;
}

#footer_nav #team_info{
    position: absolute;
    left: 1%;
    margin-top: 150px;
    font-size: 13px;
    color: gray;
}

#footer_nav2 #footer_logo{
    margin-top: 30px;
    height: 150px;
}

#footer_nav2 #flex_content{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

#footer_nav2 #social{
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

#footer_nav2 #social li{
    height: 50px;
    width: 50px;
    
    float: left;
}


#user_nav #signout{
    text-decoration: none;
    color: white;
    font-size: x-large;
    }



.current{
    border-bottom: inset;
    color: white;
}


/* home */
#home_content{
    height: auto;
    width: 100%;
    background-image: url(images/home.png);
    overflow:hidden;
    color: white;
    background-size: contain;
}

#home_content #home1 h1{
    text-shadow: 10px 10px 5px rgba(0,0,0,0.8);
    margin-top: 10%;
    font-size: 50em;
    text-align: center;
    color: white;
}
#home_content section h1{
    font-size: 40px;
}
#home_content #home2 h1{
    margin-left: 20%;
    margin-top: 400px;
}
#home_content #home2{
    display: flex;
    margin-top: 5%;
}

#home_content #home2 div{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    background-image: url(images/index1.jpg);
    background-size: cover;
    height: 800px;
    width: 500px;
    background-color: black;
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 200px;
    cursor: pointer;
}

#home_content #home3{
    display: flex;
    margin-bottom: 5%;
}

#home_content #home3 h1{
    margin-left: 10%;
    margin-top: 400px;
    max-width: 40%;
}

#home_content #home3 div{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
    background-image: url(images/index2.jpg);
    background-size: cover;
    height: 800px;
    width: 500px;
    background-color: black;
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 200px;
    cursor: pointer;
}

/* FAQs */
#FAQs_content #FAQs1 h1{
    font-size: 20em;
    margin-left: 1%;
}

#FAQs_content #FAQs1 h2{
    font-size: 10em;
    margin-left: 1%;
}

#FAQs_content #FAQs1 h3 ul li{
    font-size: 20em;
    margin-left: 2%;
}

/* terms of use */
#terms_of_use_content{
    height: auto;
    width: 100%;
    overflow:hidden;
    list-style: circle;
}

#terms_of_use_content h1{
    font-size: 20em;
    margin-left: 1%;
}

#terms_of_use_content h2{
    font-size: 10em;
    margin-left: 2%;
}

#terms_of_use_content p{
    font-size: 7em;
    margin-left: 2%;
}

#terms_of_use_content ul li{
    list-style: circle;
    list-style-type: circle;
    font-size: 6em;
    margin-left: 3%;
}




/* about */
#about_content{
    width: 100%;
    overflow:hidden;
    background-image: url(images/home.png);
}
#about_content > h1{
    margin-left: 10%;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

#about_content #about_info1{
    max-height: 1000px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 400px;
    
}

#about_content #flex_left{
    display: flex;
    width: 50%;
}

#about_content #flex_right{
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 0;
}


#about_content #info1_left{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 10px 10px 5px black;
    margin-top: 5%;
    margin-bottom: 20%;
    margin-left: 20%;
    width: 60%;
}
#about_content #info1_left *{
    margin-left: 5%;
}
#about_content #info1_left h1{

    margin-top: 5%;
    font-size: 50em;
    margin-bottom: 5%;
}
#about_content #info1_left h2{
    font-size: 30em;
    margin-bottom: 5%;
}

#about_content #info1_left p{
    font-size: 20em;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

#about_content #info1_left button{
    margin-bottom: 50px;
    height: 40px;
    width: 90%;
    border-style: none;
}

#about_content #info1_right img{
    margin-left: 50px;
    max-height: 500px;
    margin-top: 5%;
}
#about_content #info1_right #about_image2{
    margin-left: 20%;
    margin-top: 10%;
    max-height: 700px;
}

#about_content #about_info2{
    margin-left: 10%;
}

#about_content #about_info2 > h1{
    font-size: 30em;
    color: white;
}


#about_content #about_info2 ul{
    width: 100%;
    
}

#about_content #about_info2 ul{
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 50em;
}


#about_content #about_info2 ul >div{
    height: 200px;
    width: 200px;
    margin-right: 100px;
    margin-top: 100px;
    margin-left: 70px;
}

#about_content #about_info2 ul div >img{
    background-color: black;
    height: 180px;
    width: 300px;
    margin-bottom: 10px;
}

#about_content #info3_section{
    color: white;
    font-size: 20em;
    margin-left: 10%;
}

#about_content #info3_section #firstContent{
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
}

#about_content #info3_section #secondContent{
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
}

#about_content #info3_section #firstFlex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 1em;
}


#about_content #info3_section #thirdContent{
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
}

#about_content #info3_section #forthContent{
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
}

#about_content #info3_section #secondFlex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    font-size: 1em;
}

#about_content #tutorialVideo{
    text-align: center;
    margin-bottom: 5%;
}


/* exercise */

#start_exercise{
	width: 80%;
	height: 60%;
	padding: 50px 30px;
	background-image: url(images/notlogin.jpg);
    background-size: cover;
    background-position: center center;
	border-radius: 8px;
	margin: auto;
	position: absolute;
	top: 20%;
	left: 0;
	bottom: 0;
	right: 0;
    z-index: 999;
    overflow: hidden;
    box-shadow: rgba(0,0,0,0.25) 10px 10px 5px;
    border-radius: 5px;
}

#start_exercise h2,#start_exercise button {
	font-size: 80px;
	font-weight: 800;
	padding-bottom: 50px;
	text-align: center;
    color: wheat;
    text-shadow:rgba(0,0,0,0.25) 5px 5px 5px; ;
}

#start_exercise button{
    transition-duration: 0.4s;
    box-shadow: rgba(0,0,0,0.25) 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-left: 35%;
    padding: 2% 3%;
    cursor: pointer;

}
#start_exercise button:hover{
    color: white;
    background-color: rgba(59, 45, 45, 0.8);
}


#exercise_content{

    width: 100%;
    overflow:hidden;
    background-image: url(images/exerc_background.jpg);
    background-size: cover;
    background-position: center;
    color:white;
    
}

#exercise_content #exercise_question{
    text-align: center;
    margin-bottom: 5%;
}

#exercise_content ul{
    margin-top: 50px;
    margin-left: 15%;

}

#exercise_content ul button{
    font-family: 'Mate SC', serif;
    font-size: large;
    box-shadow: rgba(0,0,0,0.25) 10px 10px 5px;
    border-radius: 5px;
    border-style: none;
    display: inline-block;
    margin-right: 5%;
    height: 50px;
    width: 200px;
    margin-top: 50px;
    transition-duration: 0.4s;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    font-weight: 700;
    cursor: pointer;
}
#exercise_content ul button:hover{
    color: white;
    background-color: rgb(85, 41, 24);
}

#exercise_content h1{
    text-shadow: 5px 5px 5px rgba(0,0,0);
    border-radius: 5px;
    font-size: 50px;
    margin-top: 50px;
    min-height: 150px;
    max-width: 80%;
    margin-left: 10%;
}
#exercise_content #exercise_options{
    width: 80%;
    margin-left: 12%;
    display: flex;
    justify-content: center;
}

#exercise_content #exercise_options h2{
    min-height: 50px;
    min-width: 180px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0,0,0,0.25) 10px 10px 5px;
    border-radius: 5px;
    transition-duration: 0.4s;
    padding: 10px 5px;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    color: black;
}
#exercise_content #exercise_options h2:hover{
    color: white;
    background-color: rgb(85, 41, 24);
}

#exercise_content #exercise_image_section{
    display: flex;
    width: 100%;
    justify-content: center;
}

#exercise_content #exercise_image{
    box-shadow: rgba(0,0,0,0.25) 10px 10px 5px;
    border-radius: 5px;
    background-size: cover;
    width: 800px;
    height: 500px;
    align-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
#exercise_content .exercise_done_correct{
    background-color: green;
}

#exercise_content .exercise_done_wrong{
    background-color: red;
}



/* simulation */
#sim_content{
    width: 100%;
    overflow:hidden;
    background-image: url(images/sim_background.jpg);
    background-size:cover;
    color: cornsilk;
    min-height: 800px;
    

}

#sim_content > h1{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}

#sim_options ul{
    display: flex;
    flex-wrap: nowrap;
}

#sim_content #main_flex{
    display: flex;
    justify-content: center;
}
#sim_content #sim_game{
    margin-left: 10%;
    margin-right: 10%;
}

#sim_content #flex_box_options_and_game{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3%;
    padding-top: 2%;
}

#sim_content #sim_options{
    width: 100%;
}

#sim_content #sim_options button{
    font-family: 'Mate SC', serif;
    font-size: 40em;
    font-weight: 800;
    margin-bottom: 50px;
    margin-right: 5%;
    margin-left: 5%;
    height: 40px;
    width: 100%;
    border-style:outset;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: rgba(0,0,0,0.25) 10px 10px 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 5px;
    display: inline-block;
}
#sim_content #sim_options button:hover{
    background-color: black;
    color: white;
}





#sim_content #upload_button , #sim_content #start_sim{
    margin-top: 50px;
    height: 2em;
    width: 8em;
    font-size: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.2);
    box-shadow: 0.4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    transition-duration: 0.4s;
    visibility:hidden;
    margin-left: 40%;
    margin-right: 40%;
}
#sim_content #upload_button:hover, #sim_content #start_sim:hover{
    background-color: black;
    color: white;
}

#sim_content #start_sim{
    visibility:visible;
}

#sim_content #sim_info{
    margin-top: 3%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0.4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    border: 1px solid black;
}
#sim_content #sim_info h1, #sim_content #sim_info h2{
    margin-top: 3%;
    padding: 20px 20px;
    font-size: xx-large;
    color: white;
}
#sim_content #sim_info h2{
    padding: 20px 50px;
}
/*user*/


#user_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
}


#user_content table{
    width: 50%;
    background: #ccc;
    align-content: center;
    border-collapse: collapse;
}
#user_content th,td {
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #ccc;
}
#user_content th {
    background: #eee;
    font-weight: normal;
}
#user_content tr {
    background: #fff;
}
#user_content tr:hover {
    background: #cc0;
}
#user_content td a {
    color: #06f;
    text-decoration: none;
}
#user_content td a:hover {
    color: #06f;
    text-decoration: underline;
}

/*contect us*/
#contact_us_h1{
    color: white;
    font-size: 5em;
    display: flex;
}
.contact_us_con {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 20px;
    background-image: url(images/pexels-photo-248747.jpeg);
    background-repeat:no-repeat, repeat-x, no-repeat;
    background-size:100% 100%;
    background-color: #cccccc;
  }

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}


/* FAQs */

#FAQs_content{
    background-image: url(images/notlogin.jpg);
    background-size: cover;
    
}
#FAQs_content #FAQs1 h1{
    font-size: 20em;
    margin-left: 1%;
    padding-top: 3%;
    color: white;
}

#FAQs_content .popUp{
    
    height: fit-content;
    width: fit-content;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    border-top-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    border-top-left-radius: 50px;
    font-size: 10em;
    margin-left: 2%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    color: wheat;
    font-weight: bold;
    box-shadow: 10px 10px 5px 2px rgb(53, 49, 47);
    background-color:rgba(255, 255, 255, 0.2);;
}

#FAQs_content .popUp:hover{
    background-color: black;
}

#FAQs_content #FAQs1 h3 ul li{
    font-size: 20em;
    margin-left: 2%;
}

.popUp{
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 2%;
}


.popUp .popUpContent{
    width: 90%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 20%;
    margin-left: -80px;
    
}

.popUp .popUpContent::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popUp .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}
/* terms of use */

#terms_of_use_box{
    display: flex;
    justify-content: center;
    background-image: url(images/home.png);
    flex-wrap: wrap;
}

#terms_of_use_box #heading{
    display: flex;
    width: 100%;
    height: fit-content;
    color: white;
    flex-wrap: wrap;
    font-size: 20em;
    margin-left: 15%;
}
#terms_of_use_content{
    height: auto;
    width: 70%;
    overflow:hidden;
    list-style: circle;
    background-color: #666;
    margin-top: 1%;
    margin-bottom: 1%;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    border-top-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    border-top-left-radius: 50px;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    color: whitesmoke;
}

#terms_of_use_content h1{
    font-size: 20em;
    margin-left: 1%;
}

#terms_of_use_content h2{
    font-size: 12em;
    margin-left: 2%;
    color: burlywood;
}

#terms_of_use_content p{
    font-size: 10em;
    margin-left: 2%;
    color: black;
}

#terms_of_use_content ul li{
    list-style: circle;
    list-style-type: circle;
    font-size: 6em;
    margin-left: 3%;
}


/*user*/
.scoreboard{
    background-image: url(images/user_background.jpg);
    background-size: cover;
    padding: 50px;
    font-size: 200px;
    min-height: 600px;
}

.scoreboard table{
    margin-top: 2%;
    width: 60%;
    background: #ccc;
    align-content: center;
    border-collapse: collapse;
    box-shadow: 10px 10px 5px 2px rgb(53, 49, 47);
    margin-left: 20%;
}
.scoreboard th,td {
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px solid #ccc;
}
.scoreboard th {
    background: #eee;
    font-weight: normal;
}
.scoreboard tr {
    background: #fff;
}
.scoreboard tr:hover {
    background: #bebebe;
}
.scoreboard td a {
    color: #06f;
    text-decoration: none;
}
.scoreboard td a:hover {
    color: #06f;
    text-decoration: underline;
}


.nologin{
    background-image: url(images/user_background.jpg);
    background-size: cover;
    
}
#leaderboard{
    
    font-size: 20em;
    text-align: center;
}

#alertlogin{
    font-family: 'Mate SC', serif;
    font-size: 10em;
    margin-top: 100px;
    margin-bottom: 10;
    text-align: center;
    
}

.gotologin{
    
    font-size: 5em;
    margin-bottom: 180px;
    margin-right: 5%;
    margin-left: 47%;
    
    border-style:outset;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    box-shadow: rgba(0,0,0,0.25) 10px 10px 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 5px;
    display: inline-block;
}

#loginleaderboard{
    font-family: 'Mate SC', serif;
    font-size: 0.5em;
    text-align: center;
}